<?xml version="1.0"?>
   <model>
       <name>test</name>
       <version>1.0</version>
       <sdf version='1.4'>model.sdf</sdf>
       <author>
           <name>yejin park</name>
           <email>o0o2211915@gmail.com</email>
       </author>
       <description>project test</description>
</model>
